parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$dto of method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Handler\\\\DeleteObjectHandler\\:\\:getTargetEntity\\(\\) expects class\\-string\\<object\\>\\|object, array\\<string, mixed\\>\\|object\\|string given\\.$#"
			count: 1
			path: ../../src/Handler/DeleteObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/DeleteObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$dtoClass of class PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\Query\\\\GetDTODQL constructor expects class\\-string\\<object\\>, string given\\.$#"
			count: 1
			path: ../../src/Handler/GetObjectsHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/GetObjectsHandler.php

		-
			message: "#^Parameter \\#1 \\$dto of method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Handler\\\\PutObjectHandler\\:\\:getTargetEntity\\(\\) expects class\\-string\\<object\\>\\|object, array\\<string, mixed\\>\\|object\\|string given\\.$#"
			count: 1
			path: ../../src/Handler/PutObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, array\\<string, mixed\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/PutObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/PutObjectHandler.php

		-
			message: "#^Parameter \\#2 \\$dtoClass of class PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\Query\\\\GetEntityConstructorMapper constructor expects class\\-string\\<object\\>, string\\|false given\\.$#"
			count: 1
			path: ../../src/Handler/PutObjectHandler.php

		-
			message: "#^Parameter \\#2 \\$dtoClass of class PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\Query\\\\GetEntityMapper constructor expects class\\-string\\<object\\>, string\\|false given\\.$#"
			count: 1
			path: ../../src/Handler/PutObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$dto of method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Handler\\\\UpdateObjectHandler\\:\\:getTargetEntity\\(\\) expects class\\-string\\<object\\>\\|object, array\\<string, mixed\\>\\|object\\|string given\\.$#"
			count: 1
			path: ../../src/Handler/UpdateObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, array\\<string, mixed\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/UpdateObjectHandler.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Handler/UpdateObjectHandler.php

		-
			message: "#^Parameter \\#2 \\$dtoClass of class PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\Query\\\\GetEntityMapper constructor expects class\\-string\\<object\\>, string\\|false given\\.$#"
			count: 1
			path: ../../src/Handler/UpdateObjectHandler.php

		-
			message: "#^Method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\DQLMapperExpressionBuilder\\:\\:sortCallbacks\\(\\) should return array\\<PBaszak\\\\MessengerDoctrineDTOBundle\\\\Attribute\\\\MappingCallback\\> but returns array\\<object\\>\\.$#"
			count: 1
			path: ../../src/Mapper/DQLMapperExpressionBuilder.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Mapper/DQLMapperExpressionBuilder.php

		-
			message: "#^Parameter \\#2 \\$callback of function usort expects callable\\(object, object\\)\\: int, Closure\\(PBaszak\\\\MessengerDoctrineDTOBundle\\\\Attribute\\\\MappingCallback, PBaszak\\\\MessengerDoctrineDTOBundle\\\\Attribute\\\\MappingCallback\\)\\: int\\<\\-1, 1\\> given\\.$#"
			count: 1
			path: ../../src/Mapper/DQLMapperExpressionBuilder.php

		-
			message: "#^Parameter \\#3 \\$instanceOf of method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\DQLMapperExpressionBuilder\\:\\:buildExpressions\\(\\) expects class\\-string\\<object\\>\\|null, string given\\.$#"
			count: 1
			path: ../../src/Mapper/DQLMapperExpressionBuilder.php

		-
			message: "#^Method PBaszak\\\\MessengerDoctrineDTOBundle\\\\Mapper\\\\DTO\\\\DQLProperty\\:\\:__construct\\(\\) has parameter \\$callbacks with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../../src/Mapper/DTO/DQLProperty.php

		-
			message: "#^Parameter \\#1 \\$object of function get_class expects object, class\\-string\\<object\\>\\|object given\\.$#"
			count: 1
			path: ../../src/Mapper/EntityMapperExpressionBuilder.php
